@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Completed";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>This page is here to display my completed projects. </p>
<ul>
    <li>
        <p>Academic I have completed all the requirements for the Front-End Web Development Certificate.</p>
    </li>
    <li>
        <p>Personal project I have completed a webpage Idea for my current job using what I know in HTML, CSS, and JavaScript. Not deployed.</p>
    </li>
</ul>
@await Html.PartialAsync("_Navigation");
