@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Current";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>This page is here to display my current projects.</p>
<ul>
    <li>
        <p>Academically I am currently learning how to use the ASP.NET framework.</p>
    </li>
    <li>
        <p>Personal project I am currently re-wiring my motorcycles wiring harness. Not a fun project at all.</p>
    </li>
</ul>
@await Html.PartialAsync("_Navigation");
