@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ideas";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>This page is here to display some ideas for future projects. </p>
<ul>
    <li>
        <p>Program a reciept printer to print out news headlines. (sounds fun to try and figure out) </p>
    </li>
    <li>
        <p>Re-paint my motorcycle with a more 60's style paintjob.</p>
    </li>
    <li>
        <p>Create a Display/Photo Frame utilizing a Raspberry Pi. Just sounds like something fun to do in my free time plus plenty of helpful resources out there to learn how to.</p>
    </li>
</ul>
@await Html.PartialAsync("_Navigation");

